body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: #ff9900 !important;
  text-decoration: underline;
}

.complate {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-desc{
  max-height: 48px;
  overflow: hidden;
  text-align: justify;
}

.btn:focus{
  box-shadow: none !important;
}